/* 
    Color Palette:
    #8E8E8E grey
    #CD853F burnt-sienna
    #B99862 BBH-brown
    #CFB893 light-tan
    #D8D6D3 BBH-light
or
    #B99862 BBH-brown
    #987d52 faded-tan
    #594a32 ash-brown;
    #3c3224 dark-brown
    #211c16 espresso
    #333333 slate-gray
    #000000 black

    #b7797c pink
    #6d94be grey-blue
    #4b94d0 blue
    #46679d darker-grey-blue
*/

/* 
        Striped BG:
    background: repeating-linear-gradient(
        135deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
    );
    
*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 1px;
    font-size: 16px;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    /* background-color: #D8D6D3; */
}
.header div .headerLogo {
    transition: 200ms;
    margin-top: 9%;
    height: 28vh;
    background-size: contain;
    background-image: url("./img/bbh-logo.png");
    background-repeat: no-repeat;
    background-position: top;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    height: 10vh;
    background-color: #B99862;
    color: #fff;
}
nav a {
    font-size: 16px;
    width: 30%;
    text-align: center;
    letter-spacing: 1px;
    /* transition: 100ms; */
    display: flex;
    flex-direction: column;
    line-height: 17px;
}
.fixedNav {
    position: fixed;
    top: 0;
    z-index: 10;
}
/* .scrollNav {
    position: absolute;
    bottom: 0;
} */
nav a:hover {
    transition: 500ms;
    color: rgba(255, 255, 255, .5);
    font-weight: 600;
    letter-spacing: 2px;
}
nav span {
    border: 2px solid #CFB893;
    border-radius: 10px;
    height: 30px;
    width: 0;
    margin: 0;
    padding: 0;
}
.section {
    background-color: rgba(51, 51, 51, .2);
    margin: 20px auto;

}
.card {
    /* width: 100%;
    padding: 2%;
    margin: 0 auto; */

    background-color: #CFB893;
}


/* SPECIFIC SECTIONS */

.community {
    margin: 0 auto;
}

/* start custom cards - problem/solution */

.program {
    display: flex;
    flex-direction: row;
    /* .project { */
    letter-spacing: 3pt;
    padding: 0;
    margin: 0 0 50px;
    object-fit: contain;
    overflow: hidden;
}
.problem, .solution {
    display: block;
    height: 100%;
    width: 46%;
    margin: 0 auto;
}
.program-img {
    background-color: rgb(247, 115, 8);
    height: 300px;
    width: 300px;
    margin: 0;
    padding: 0;
}
.program-img img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
}
.hidden {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 280px;
}
.program-img img {
    z-index: 2;
}
.program-img p, .program-img a {
    position: relative;
    top: -300px;
    padding: 10px 20px;
    margin: 0;
    width: 100%;
    height: 100%;
}
.hidden p {
    width: 90%;
    margin: 0 auto;
}
/* .card-image {

} */