/* 
Color Palette:


    #F4F2EE BBH-light
    #B99862 BBH-brown
    #301D0E espresso 2
    #28170D espresso 3

    #CFB893 nav-span

  */
    

html {
    scroll-behavior: smooth;
    transition: 300ms;
  }
body, .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 1px;
    font-size: 16px;
}
.container {
    /* margin = nav height */
    margin: 0 auto;
    width: 100vw;
}
.main {
    display: flex;
    flex-direction: column;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -moz-justify-content: center;
    -moz-align-items: center;
    -ms-justify-content: center;
    -ms-align-items: center;
    justify-content: center;
    align-items: center;
    padding: 0 3%;
    width: 100%;
    background-color: white;
}
.bg-shift {
    /* display: table; */
    height: 100%;
    width: 100%;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 50vh;
    padding: 0 10%;



}
.section-header {
    background-color: rgba(255, 255, 255, .5);
    width: fit-content;
    padding: 3%;
    margin: 0 auto;
    color: #28170D;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.25rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2pt;
}
/* NAV - Mobile */
/* nav {
    position: fixed;
    top: 0;
    background-color: rgba(185, 152, 98, .5);
}
.nav-m-button-scroll {
    background-color: rgba(185, 152, 98, .5);
    border-radius: 10px;
}
.nav-m-scroll {
    background-color: transparent;
} */
.nav-wide {
    display: none;
}
.nav-mobile {
    background-color: #B99862;
    margin: 0;
}
.sidenav-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
}
.nav-open {
    background-image: url('./img/icons/menu-button.svg');
    height: 50px;
    width: 50px;
}
.sidenav-exit {
    margin: 0 100px 0 0;
    background-image: url("./img/icons/exit-button.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
    z-index: 2;
 }
 .exit-nav {
     margin: 10px 0 0 10px;
     width: 90%;
     height: 50px;
 }
.nav-logo {
    background-image: url("./img/bbh-logo.png");
    background-size: 100%;
    background-repeat: no-repeat;

    height: 20vh;
    width: 100%;
}
.waves-effect {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
/*  */
.full {
    display: flex;
    flex-direction: column;
    object-fit: contain;
    overflow: hidden;
    margin: 40px auto;
    padding: 0;
    width: 94%;
    min-height: 50vh;
    background-color: white;
    color: #28170D;
}
.header-full {
    padding: 0 3% 20%;
    background-color: #F4F2EE;
    min-height: 70vh;
    z-index: -2;
}
.header {
    z-index: -1;
    /* display: relative;
    position: fixed; 
    background-attachment: fixed;
    */
    object-fit: contain;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    width: 50vh;
    height: 50vh;
    background-image: url("./img/IMG_1836.PNG");
    background-size: 50vh auto;
    background-repeat: no-repeat;
    background-position: center;

}
.title {
    width: 80%;
    margin: 0 auto;
    padding: 6% 0 3% 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: 2pt;
}
h4 {
    font-size: 20px;
    font-weight: 900;
}
.bold {
    font-weight: 900;
}
.underline {
    text-decoration: underline;
}
.source {
    font-weight: 900;
    color: #B99862;
}

/* SPECIFIC SECTIONS */

/* PROGRAM */
.img-chart {
    width: 80vw;
    max-width: 450px;
    height: auto;
    margin: 0 auto;
}
#img-flex {
    object-fit: contain;
    overflow: hidden;
    width: 80vw;
    margin: 0 auto;
}
.img-example {
    width: 80vw;
    height: auto;
    margin: 5vw auto;
}
/* TEAM */
.img-team {
    width: 100%;
    max-width: 400px;
    position: relative;
    top: -80px;
}
.img-team-frame {
    object-fit: contain;
    overflow: hidden;
    /* height: 100vw; */
    margin: 25px auto;
}
.more {
    transition: .5s;
    margin: 45px auto 5px;
    padding: 20px;
    border-radius: 2px;
    font-weight: 900;
    font-size: 1.5rem;
    background-color: rgba(185, 152, 98, .9);
    color: white;
    width: 75vw;
}
.more:hover {
    transition: 1s;
    color: #28170D;
    background-color: white;
    box-shadow: 2px 2px 5px #B99862;
}
/* HOW IT WORKS */
.how  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin: 0 auto;
    padding: 0;    
}
.how p {
    margin: 2vw auto;
    padding: 5vw;
    width: 80vw;
}
.how h4, .tenant-hb h4 {
    width: 50vw;
    color: #B99862;
}
.how-1, .how-3 {
    border-right: 1px solid #B99862;
}
.how-2, .how-4 {
    border-left: 1px solid #B99862;
}
/* TODO: SQUARES */
.squares {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 75vw;
    height: 75vw;
    margin: 0 auto 10vw;
    padding: 0;
    background-color: aqua;
}
.square-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
        border: 1px solid black;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0 auto;
    background-color: #B99862;
}
.square-new {
        border: 1px solid green;

    height: 100px;
    width: 100px;
    margin: 0 auto;
    padding: 0;
    background-color: #28170D;
}
/* MODEL */
.revenueModel .list li {
    margin: 0 auto;
    padding: 4vw 2vw;
    width: 75vw;
}
.revenueModel .list li:nth-child(odd) {
    background-color: rgba(185, 152, 98, .5);
}
.revenueModel .list li:nth-child(even) {
    background-color: #F4F2EE;
}
.model-boxes {
    margin: 10vw auto;
}
.model-title {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 20vw;
    width: 80vw;
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 2pt;
    color: #28170D;
}
.model-dark {
    background-color: #28170D;
    color: white;
}
.model-span {
    border: 1px solid #B99862;
    height: 100px;
    width: 0;
    margin: 0 auto;
    padding: 0;
}
/* MILESTONES */
.milestones img {
    position: relative;
    left: -1px;
    width: 100%;
}
/* TENANT TO HOMEBUYER */
.tenant-span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15vw auto 10vw;
    font-size: 1.25rem;
    text-transform: uppercase;
}
.tenant-span span {
    border: 1px solid #B99862;
    width: 75vw;
    height: 0;
}
.tenant-steps {
    width: 80vw;
}
.tenant-steps li {
    list-style-position: outside;
    margin: 10vw auto;
    padding: 5px;
}
.tenant-steps li:nth-child(odd) {
    /* background-color: #F4F2EE; */
    border-left: 1px solid #B99862;
}
.tenant-steps li:nth-child(even) {
    /* background-color: rgba(185, 152, 98, .5); */
    border-right: 1px solid #B99862;
}
/* ACTION */
.why-now span, .why-now p {
    font-size: 1.25rem;
}
.action {
    color: #B99862;
    transition: 100ms;

}
.action:hover {
    font-weight: 900;
    letter-spacing: .5rem;
    transition: 300ms;
}
/* CONTACT */
.icon-tray {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20vw;
    width: 75vw;
    margin: 20vw auto 0;
    padding: 0;
}
/* .icon {
    height: 50px;
    width: 50px;
} */
.icon-img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.icon-twitter .icon-img {
    transition: 200ms;
    background-image: url("./img/icons/twitter2.svg")
}
.icon-fb .icon-img {
    transition: 200ms;
    background-image: url("./img/icons/fb2.svg")
}
.icon-youtube .icon-img {
    transition: 200ms;
    background-image: url("./img/icons/youtube2.svg")
}
.icon-name {
    display: none;
}
footer {
    border-top: 1px solid grey;
    color: grey;
    height: 3vh;
    width: 100%;
}
footer span {
    color: #B99862;
    height: 50px;
}
/* BACKGROUNDS */
.program-bg {
    background-image: url("./img/bg/julian-gentilezza-351164-unsplash.jpg");  
}
.team-bg {
    background-image: url("./img/wood/wood.jpg");
}
.how-bg {
    background-image: url("./img/wood/wood5.jpg");
}
.why-bg {
    background-image: url("./img/wood/wood4.jpg");
}
.model-bg {
    background-image: url("./img/wood/wood.jpg");
}
.homebuyer-bg {
    background-image: url("./img/bg/markus-spiske-624932-unsplash.jpg");
}
.change-together {
    /* background-image: url('./img/IMG_1378.jpg'); */
    background-image: url('./img/bg/hide-obara-2034-unsplash.jpg');
}
/* Carousel */

.flip-img img {
    transform: rotate(90deg);
}
@media only screen and (min-width: 500px) {
    .why-now span, .why-now p {
        font-size: 1.5rem;
    }
    .model-title {
        font-size: 2rem;
    }
    .container {
        /* Margin = nav height */
        margin: 7vh auto;
    }
    .nav-mobile {
        display: none;
    }
    .nav-wide {
        position: fixed;
        top: 0;
        z-index: 10;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100vw;
        margin: 0;
        padding: 0;
    /* Height = .container margin-top */
        height: 7vh;
        background-color: #b99862;
        /* background-color: #28170D; */
        /* #28170D espresso 3 */
    }
    .nav-wide a {
        display: flex;
        flex-direction: column;
        width: 20%;
        font-family: Helvetica, sans-serif;
        font-size: 14px;    
        text-align: center;
        letter-spacing: 1.5px;
        line-height: 20px;
        color: #fff;
        text-transform: uppercase;
    }
    .nav-wide a:hover {
        transition: 500ms;
        color: rgba(255, 255, 255, .5);
        font-weight: 600;
        letter-spacing: 2px;
    }
    .nav-wide span {
        border: 2px solid #CFB893;
        border-radius: 10px;
        height: 30px;
        width: 0;
        margin: 0;
        padding: 0;
    }

}

@media only screen and (min-width: 700px) {
    .bg-shift {
        background-size: cover; 
        background-position-y: -15vh; 
        height: 100vh;
    }
    .header-full {
        /* 25vh - 7vh (nav H) */
        padding: 18vh 3% 25vh;
    }
    .title {
        margin: 10% auto;
    }
    .full {
        width: 60vw;
    } 
    .main {
        padding: 0 15vw;
    }
    .how {
        width: 100%;
        margin: 0 auto;
        padding: 0;    
    }
    .how p {
        margin: 2vw auto;
        padding: 5vw;
        width: 80%;
    }
    .revenueModel p, .milestones p {
        padding: 0;
        margin: 5vh auto 15vh;
    }
    .revenueModel .list li {
        width: 85%;
    }
    .model-title {
        height: 10vw;
        width: 50vw;
    }
    .milestones-img-frame {
        object-fit: contain;
        overflow: hidden;
        width: 50vw;
        margin: 0 auto;
    }
    .tenant-span {
        width: 100%;
        margin: 15% auto 10%;
        font-size: 1.75rem;
    }
    .tenant-span span {
        width: 100%;
    }
    .tenant-steps {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
    .tenant-steps li {
        list-style-position: outside;
        margin: 5vw auto;
        padding: 7% 5%;
        width: 80%;
        /* border-bottom: 1px solid #B99862; */
    }
    /* .tenant-steps li:nth-child(odd) {
        border-left: none;
    }
    .tenant-steps li:nth-child(even) {
        border-right: none;
    }  */

    .contact .full {
        height: 50vh;
    }
    .contact .title {
        margin: 0 auto;
        height: 10vh;
        padding: 0;
    }
    .icon-tray {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20vh;
        margin: 5vh auto;
    }
    .icon {
        margin: 0 5vw;
    }
    .icon div {
        margin: 0 auto;
    }
    .icon-twitter:hover .icon-img {
        transition: 300ms;
        background-image: url("./img/icons/twitter4.svg")
    }
    .icon-fb:hover .icon-img {
        transition: 300ms;
        background-image: url("./img/icons/fb4.svg")
    }
    .icon-youtube:hover .icon-img {
        transition: 300ms;
        background-image: url("./img/icons/youtube4.svg")
    }
    .icon-name {
        display: flex;
        font-size: .9rem;
        text-transform: uppercase;
        font-weight: 900;
        color: rgba(40, 23, 13, .8);
    }

}