body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #141916;
}
.img-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
img {
    height: 100vh;
    width: auto;
    margin: 0 auto;
    padding: 0;
}